<h2> List of Hotels </h2>
<table>
  <tr>
    <th>Label</th>
    <th>Description</th>
    <th>Posted By</th>
    <th> </th>
  </tr>
  <% @reviews.each do |review| %>
    <%= render partial: "review", locals: {review: review} %>
	<% end %>